

<header>
   
        
           
                <div class="header" >
                    <i class="fa fa-laptop" aria-hidden="true" style="font-size: 40px; color: rgb(31, 147, 255);">&nbsp;
                        <strong style="font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;">Tech4you</strong></i>
                    <div class="header-right">
                      <a class="active" href="#home">Home</a>
                      <a class ="header-links" href="/invoice">Contact</a>
                      <a  class ="header-links" href="/products">Products</a>
                      <button routerLink="Cart" class="btn btn-primary">
                        <i style="font-size:25px;" class="fas fa-cart-plus"></i>
                        <div style="font-size:11px" class="badge">1</div>
                     </button>
                      <a  class ="header-links" href="/summary">Orders</a>
                      <a  class ="header-links" href="#about">Sign in</a>
                    
                    </div>
                   
                  </div> 
                 
                  
      
    
</header>
