.product-head{
    color: cyan;
    margin-left:30px;
}

.card img {
    align-items: center;
    width:230px;
    height:180px;
    margin-bottom: 10px;
    margin-left:14px;
    transition: 0.3s ease-in-out;
    border-radius: 20px;
}
.card{
    border-radius: 20px;
   
    color:rgb(0, 0, 0);
    /* background-color: black; */
    box-shadow: 0 25px 35px rgba(0, 0, 0, 0.1);
    width: 300px;
    height:380px;
    border-top: 1px solid rgb(255, 255, 255);
    border-left: 1px solid rgb(255, 255, 255);
    box-shadow: 0 25px 35px rgba(0, 0, 0, 0.1);
    border-radius: 20px;
    background: rgba(255, 255, 255, 0.06);
  
}
.card{
    padding: 20px;
    margin: 20px;
    margin-left: 40px;
    box-shadow: 0 25px 35px rgba(0, 0, 0, 0.1);
}
.card img:hover{
    transition: 0.5s ease-in-out;
    transform: scale(1.1);
}


.pagination {
    display: inline-block;
   
  }
  .center {
    margin-left:370px;
    width: 60%;
   
    padding: 10px;
  }
  
  .pagination a {
    color: black;
    float: left;
    padding: 8px 16px;
    text-decoration: none;
  }
  
  .pagination a.active {
    background-color: #0275db;
    color: white;
    border-radius: 5px;
  }
  
  .pagination a:hover:not(.active) {
    background-color: #ddd;
    border-radius: 5px;
  }